.person {
  border-radius: 10px;
  outline: 1px solid black ;
  box-shadow: 5px 5px 6px 0px rgba(96, 94, 94, 0.573);
  overflow: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
